::-webkit-scrollbar {
    display: none;
}

.scrollUp {
    opacity: 0;
    animation: scrollUp .8s ease-in-out forwards;
    animation-delay: .1s;
}

.animate-scaleUp {
    background-size: cover;
    background-position: center;
    animation: animate-scaleUp .6s ease-out forwards;
}
        

@media only screen and (max-width: 900px) {
    .changeToCol {
         display: flex !important;
         flex-direction: column !important;
    }
}

@keyframes scrollUp {
    0% {
        transform: translateX(80px);opacity: 0.5;
    }

    100% {
        transform: translateX(0px);opacity: 1;
    }
}

@keyframes animate-scaleUp {
    from {
    scale: 0.9;
}
to {
    scale: 1;
}
}